extends layout

block main-visual
  .jumbotron.masthead
    .container
      h1#logo= title
      p #{title}

block content
  div.content-body
    p
      a(href='http://www.google.co.jp', target="_blank") google